:root {
    display: block;
}

.ui-widget {
    font-size: 12px !important;
}

.col-green {
    color: green;
}

.col-lime {
    color: lime;
}

.col-orange {
    color: orange;
}

.col-red {
    color: red;
}

.col-blue {
    color: blue;
}

.col-yellow {
    color: yellow;
}

.col-magenta-bck {
    color: white;
    background-color: #FF00FF;
}

.ui-datatable-odd .col-magenta-bck {
    background-color: #CC00CC;
}

tr[aria-selected="true"] .col-magenta-bck {
    background-color: #800080;
}

.col-dodgerblue-bck {
    color: white;
    background-color: #1E90FF;
}

.ui-datatable-odd .col-dodgerblue-bck {
    background-color: #1873CC;
}

tr[aria-selected="true"] .col-dodgerblue-bck {
    background-color: #0F4880;
}

.col-blue-bck {
    color: white;
    background-color: #0000FF;
}

.ui-datatable-odd .col-blue-bck {
    background-color: #0000CC;
}

tr[aria-selected="true"] .col-blue-bck {
    background-color: #000080;
}

.col-green-bck {
    color: white;
    background-color: #008000;
}

.ui-datatable-odd .col-green-bck {
    background-color: #006600;
}

tr[aria-selected="true"] .col-green-bck {
    background-color: #004000;
}

.col-green-bck {
    color: white;
    background-color: #008000;
}

.ui-datatable-odd .col-green-bck {
    background-color: #006600;
}

tr[aria-selected="true"] .col-green-bck {
    background-color: #004000;
}

.col-orange-bck {
    color: white;
    background-color: #FFA500;
}

.ui-datatable-odd .col-orange-bck {
    background-color: #CC8400;
}

tr[aria-selected="true"] .col-orange-bck {
    background-color: #805200;
}

.col-brown-bck {
    color: white;
    background-color: #A52A2A;
}

.ui-datatable-odd .col-brown-bck {
    background-color: #842222;
}

tr[aria-selected="true"] .col-brown-bck {
    background-color: #521515;
}

.col-red-bck {
    color: white;
    background-color: #FF0000;
}

.ui-datatable-odd .col-red-bck {
    background-color: #CC0000;
}

tr[aria-selected="true"] .col-red-bck {
    background-color: #800000;
}

.col-gray-bck {
    background-color: #404040;
}

.ui-datatable-odd .col-gray-bck {
    background-color: #262626;
}

tr[aria-selected="true"] .col-gray-bck {
    background-color: #000000;
}

.hpbtrader {
    width: 1100px;
}

.hpbtrader-narrow {
    width: 750px;
}

.hpbtrader-wide {
    width: 1400px;
}

.ui-datatable th, .ui-datatable td {
    white-space: nowrap;
}

.active-strategy {
    color: white;
    background-color: green;
}